html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 1em/1.5 "Ubuntu", Helvetica, Arial, sans-serif;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
a {
  color: #00b7ff;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  font-size: 3.7em;
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
#employees {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 500px;
  min-width: 367px;
  line-height: 2;
}
#employees .employee {
  box-shadow: 1px 2px 7px -1px rgba(15,20,70,0.7);
  margin: 20px;
  border-radius: 5px;
}
#employees .employee .created_at {
  display: none;
}
#employees .employee .title {
  font-weight: bold;
  padding-left: 1em;
  padding-bottom: 0.12em;
  background-color: #b1b1b1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #eee;
  color: #cfcfcf;
  text-shadow: -1px -1px 0 #5f5f5f;
}
#employees .employee .name {
  padding-left: 1em;
  padding-bottom: 0.6em;
  background-color: #8ba6be;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #59738a;
  text-shadow: -1px -1px 0 #adc5f1;
}
#employees .employee input#delete {
  margin-top: -27px;
  margin-left: 90%;
}
#employees .employee input#edit {
  margin-top: -20px;
  margin-left: 77%;
}
.newemployee {
  border: 1px;
  border-radius: 5px;
  border-color: #ccc;
  border-style: solid;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.3em;
}
input[type =text] {
  color: #e492da;
  width: 200px;
  margin-left: 1em;
  float: left;
}
input[type =button],
input[type =submit] {
  clear: both;
  text-align: left;
  margin-left: 165px;
  display: block;
}
.label {
  width: 150px;
  text-align: right !important;
  display: block;
  float: left;
  clear: both;
}
